//registry.npmjs.org/:_authToken=52e075df-5be0-4d8d-a4ef-d33357b795a0
@progress:registry=https://registry.npm.telerik.com/
//registry.npm.telerik.com/:_authToken=9ygbCwAq+zxyQ2sAhYDbLW8DaHtaeGY9bk5aThReOQwZ54FwyToCr55+L+6jQuxj
