
<h1 class="siteName">Application Central</h1>
<ul id="siteNav" class="nav nav-pills">
    <li role="presentation"><a routerLink="/inetapp" routerLinkActive="active">I-Net Applications</a></li>
    <li role="presentation"><a routerLink="/sharepoint" routerLinkActive="active">SharePoint Sites</a></li>
    <li role="presentation"><a routerLink="/cms" routerLinkActive="active">CMS Sites</a></li>
    <li role="presentation"><a routerLink="/homepage" routerLinkActive="active">Homepage Sites</a></li>
    <li role="presentation"><a href="#" routerLinkActive="active">Reports</a></li>
</ul>

<router-outlet></router-outlet>

  

