
<h2 class="subSiteName">Cms Sites</h2>

<div class="row">
    <div class="col-md-3">
        <ul class="list-group inet-apps-menu" style="overflow-y: scroll; height: 78vh; border-top-color: darkslategrey; border-bottom-color: darkslategrey;">
            <li class="list-group-item" *ngFor="let cmsSite of cmsSites" (click)="onSelect(cmsSite)"
                [class.selected]="cmsSite === selectedCmsSite">

                <a>{{cmsSite.Name}}</a>

            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <!--<div *ngIf="loading == true" class="loader">
            Loading...-->
        <uh-cms-site-detail [cmsSite]="selectedCmsSite"></uh-cms-site-detail>
        <!--</div>-->
    </div>
</div>
