/* UH Styles */

p {
     color: red;
}
.toggle {
	cursor: pointer;
	color: #bd3839;
    line-height: 1em;
}
ol {
	list-style-type: none;
}
ol.tree.k-treeview li a {
    color: #333;
}

ol.tree.k-treeview li a:hover {
    text-decoration: none;
    font-weight: 600;
}